body {
    text-align: center;
}
h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    font-family: 'Aclonica', sans-serif;
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
    
}
td{
  width: 20px;
}
table {
    border-collapse: collapse;
    margin: auto;
    cursor: pointer;
}

tr {
    height: 20px;
}

input[type=number] {
    width: 6em;
}
button {
  cursor: progress;
}
